.calendar-container {
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 340px;
}

.calendar-abslute {
  left: 0px;
  z-index: 999;
  position: absolute;
  background-color: #fff;
  background: #fff;
  border-radius: 2px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  max-width: 320px;
  bottom: 85px;
  display: none;
}
.calendar-header {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #222;
  margin-bottom: 10px;
}
.react-datepicker__day-name {
  font-weight: 600;
  color: #a5a5a5;
}
.react-datepicker__day {
  color: #a5a5a5;
}
.react-datepicker__month-container {
  float: none;
}
.custom-calendar {
  border: none !important;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
.react-datepicker__header {
  background: transparent;
  margin-bottom: 15px;
  border-bottom: none;
}
.react-datepicker__day-names {
  margin-bottom: 10px;
}
.react-datepicker__current-month {
  font-weight: 600;
  color: #000;
}
.react-datepicker__navigation-icon::before {
  border-color: #000;
}
.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #fff !important;
  color: #31aeb8 !important;
  border-radius: 8px;
  font-weight: 600;
}
.react-datepicker__day:hover {
  background-color: #e0f5f6;
  border-radius: 8px;
}
.react-datepicker__navigation--previous {
  left: 30px;
  top: 6px;
}
.react-datepicker__navigation--next {
  right: 30px;
  top: 6px;
}

@media screen and (max-width: 737px) {
  .calendar-container {
    display: none;
  }
}

@media screen and (max-width: 351px) {
  .react-datepicker__navigation--next {
    right: -2px;
  }
  .react-datepicker__navigation--previous {
    left: -2px;
  }
}
