.notice-board {
  margin-top: 20px;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 20px 24px;
  width: fit-content;
  font-family: "Inter", "Segoe UI", sans-serif;
  color: #333;
  border-top: 3px solid #4dd0e1;
}

.notice-title {
  color: #009ca6;
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 8px;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  padding-left: 16px;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -5px;
  width: 1px;
  height: calc(100% - -11px);
  background: #00a8a8;
  z-index: 0;
}

/* Remove line after the last item */
.timeline-item:last-child::after {
  content: none;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
}

.timeline-dot {
  position: absolute;
  left: -9.5px;
  top: 5px;
  width: 10px;
  height: 9.5px;
  background: #fff;
  border: 2px solid #009ca6;
  border-radius: 50%;
}

.timeline-dot.active {
  background: #00a8a8;
}

.timeline-content {
  margin-left: 15px;
}

.timeline-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.timeline-header h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.timeline-header .time {
  font-weight: 600;
  font-size: 12px;
  color: #000;
}

.desc {
  margin: 4px 0 0 0;
  font-size: 13px;
  color: #957e7e;
  line-height: 1.4;
}

.action-link {
  display: inline-block;
  margin-top: 4px;
  font-size: 13px;
  color: #957e7e;
  text-decoration: none;
}

.action-link:hover {
  color: #0099cc;
  text-decoration: underline;
}

.footer-notice {
  margin-top: 30px;
  padding-top: 8px;
}

.footer-link-notice {
  font-size: 13px;
  color: #00a8a8;
  text-decoration: none;
}

.footer-link-notice:hover {
  color: #0099cc;
}

.footer-link-notice .arrow {
  font-size: 12px;
  vertical-align: middle;
}
