.overview-container {
  padding: 14px 30px;
  position: relative;
}

.overview-main {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

/* Left section takes more width */
.overview-left {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Right sidebar */
.overview-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Responsive layout */
@media screen and (max-width: 1200px) {
  .overview-main {
    flex-direction: column;
  }

  .overview-left {
    width: 100%;
  }

  .overview-main {
    width: 100%;
  }
  .overview-right {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .notice-board {
    margin-top: 0px !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 992px) {
  .session-box {
    margin-top: 20px;
  }
}
@media screen and (min-width: 737px) {
  .see-calendar {
    display: none;
  }
}

@media screen and (max-width: 737px) {
  .see-calendar {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #4dd0e1;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
  }
}

/* Sumarry card */
.summary-card {
  border: none !important;
  color: #fff !important;
  border: none !important;
  border-radius: 7px !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease !important;
  height: 158px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.summary-card:hover {
  transform: translateY(-5px);
}

.summary-title {
  color: #fff !important;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.9;
}

.summary-value {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
}

.card-body {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}

/* Summary card */

/* Session List */
.session-box {
  background: #fff;
  border-radius: 7px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.session-box:hover {
  transform: translateY(-2px);
}

.session-header {
  font-weight: 600;
  font-size: 15px;
  color: #009ca6;
  margin-bottom: 35px;
}

.session-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.session-item {
  display: flex;
  position: relative;
  /* align-items: center; */
  justify-content: space-between;
  gap: 12px;
}

.more-option-session {
  top: 13px;
  right: -22px;
  position: absolute;
}

.session-index,
.session-icon {
  font-weight: 500;
  font-size: 14px;
  color: #777;
  width: 20px;
  text-align: center;
}

.session-icon i {
  color: #00aeb3;
}

.session-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.session-name {
  font-weight: 500;
  font-size: 13px;
  color: #a5a5a5;
}

.session-meta {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

.session-date {
  color: #000;
  font-weight: 600;
}

.session-badge {
  padding: 2px 20px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
}

.session-badge.today {
  background: #00aeb3;
}

.session-badge.upcoming {
  background: #00aeb3;
}

.session-avatars {
  display: flex;
}

.avatar-img {
  width: 50px;
  object-fit: cover;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-left: -16px;
}

.session-more {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #999;
  cursor: pointer;
}

@media screen and (max-width: 562px) {
  .session-item {
    flex-direction: column;
  }
  .session-avatar-container {
    margin-left: 43px;
  }
}

@media screen and (max-width: 452px) {
  .session-meta {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 329px) {
  .card-body {
    gap: 0px;
  }
}

/* Session list */
